@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'League Spartan', sans-serif;
}
